[Unit]
Description=Scheduler thingy
Documentation=man:podman-kube-play(1)
Wants=default.target
After=default.target
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
TimeoutStopSec=70
WorkingDirectory=/srv/scheduler
ExecStart=/usr/bin/podman kube play --replace --service-container=true /srv/scheduler/podman.yaml
ExecStop=/usr/bin/podman kube down /srv/scheduler/podman.yaml
Type=notify
NotifyAccess=all

[Install]
WantedBy=default.target
